.card-merch {
    position: relative;
    display: inline-block;
}

.merch-image {
    max-width: 85vw;
    width: 22vw;
    min-height: 20vw;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 20vw;
}

.merch-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    font-size: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.merch-title{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.add-to-cart{
    text-decoration: underline;
    cursor: pointer;
}
.card-merch:hover .merch-details {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.863);
    padding: 10px;
}

.card-merch:hover .merch-image {
    box-shadow: none;
}

@media (max-width: 768px) {
    .merch-details {
        position: static;
        transform: none;
        opacity: 1;
        transition: none;
        background-color: transparent;
        box-shadow: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none !important;
    }
    .card-merch{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .merch-image {
        box-shadow: none !important;
    }

    .merch-title {
        font-size: 14px;
    }

    .col-merch-img {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-merch:hover .merch-details {
        background-image: none;
        background-color: transparent;
    }

    .merch-details {
        height: 100%;
    }
}

@media (max-width: 450px) {}