/* import './ReservedPage.css' */
.reserved-page-container{
    height: auto;
    min-height: 100vh;
    width: auto;
    padding-bottom: 30px;
}

.col-reserved-form{
    display: flex;
    gap: 1rem;
}
.container-form col{
    display: flex;
}
input{
    height: 40%;
    width: 80%;
}
.form-control{
    width: 85%!important;
}