/* import './ReservedPage.css' */
.reserved-page-container{
    min-height: 100vh;
    padding-bottom: 30px;
    padding-top: 5rem;
}

.col-reserved-form{
    display: flex;
    justify-content: space-evenly;
}
.container-form col{
    display: flex;
}
input{
    height: 40%;
    width: 100%;
}
.form-control{
    width: 100%;
}

@media(max-width:650px){
    .col-reserved-form{
        display: flex;
        justify-content: start;
        flex-direction: column;
    }
  }