.container-policy {
    margin-bottom: 120px;
}

.title-policy{
    font-size: 5rem;
    margin: 80px 0;
    font-weight: 600;
    text-align: center;
    color: rgba(216, 112, 147, 0.653)!important;
    font-family: fangsong;
}

.container-policy h2{
    color: rgba(87, 52, 63, 0.653);
}
