.carousel-section{
    height: 75vh;
    display: flex;
    text-align: center;
    color: rgb(23, 20, 20);
    border-bottom: 1px solid rgba(128, 128, 128, 0.512);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 90px;
}
.event-title{
    font-size:4rem;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
    color: rgba(216, 112, 147, 0.881)
}
@media (max-width: 450px) {
    .carousel-section{
        height: auto;
    }
    .event-title{
        font-size: 3rem;
    }
}