.container-first-section {
    height: 100vh;
    background-image: url(https://c8.alamy.com/comp/RNR3E0/a-tribe-called-quest-can-i-kick-it-vintage-cover-album-RNR3E0.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    max-height: 110vw;
    background-size: 700px;
    padding: 0;
 }
 .row-first-section{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .image-first-section{
    width: 30%;
 }
 @media(max-width:500px){
    .image-first-section{
        width: 60%!important;
    }
 }
 .col-first-section{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0;
 }
 