*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh; 
  background-color: #F9F5F6!important;
}
h1, h2, h3, h4,h5 {
  font-family: "Raleway", sans-serif!important;
}
p{
  font-family: 'Open Sans', sans-serif;;
}
