.center-carousel {
  width: 80%; 
  margin-top: 50px;
}
.center-carousel .row{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container.image-event-desci{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-carousel h2{
  color: rgb(39, 20, 27);
}
.image-event-page{
  width: auto;
}
.intro-car-desci{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.container-location{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
}
.container-location h2{
  color: #251b1b;

}
.container-location p {
  margin: 0;
  color:#251b1b;
}
.container-location .locationIcon{
  color: #251b1b;
}
@media (max-width: 450px) {
  .center-carousel {
    max-width: 100%; 
  }
  .center-carousel h2{
    font-size: 20px;
  }
  .intro-car-desci{
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    gap: 1rem!important;
  }
  .image-event{
    width: 90%;
    box-shadow: none!important;
  }
  .description-event{
    margin: 0!important;
  }
}
.image-event{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.slick-prev:before, .slick-next:before {
  color: #7b6767!important;
  
}

.description-event{
  text-align: center;
  overflow-y: auto;
  max-height: 50vh;
  padding: 20px;
  border-radius: 15px;
  height: auto;
}
.description-event::-webkit-scrollbar{
  display: none;
}
.description-event h2{
  font-size: 20px;
    margin: 15px 0;
    color: rgba(110, 8, 42, 0.653);
}