.center-carousel {
  margin: 0 auto; 
  width: 60%; 
}
.container.image-event-desci{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-carousel h2{
  color: rgb(39, 20, 27);
}

.intro-car-desci{
  display: flex!important;
  justify-content: center!important;
  gap: 3rem!important;
}
@media (max-width: 450px) {
  .center-carousel {
    max-width: 100%; 
  }
  .center-carousel h2{
    font-size: 20px;
  }
  .intro-car-desci{
    flex-direction: column!important;
    align-items: center!important;
    justify-content: center!important;
    gap: 1rem!important;
  }
  .image-event{
    width: 50%;
  }
}
.image-event{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.slick-prev:before, .slick-next:before {
  color: #7b6767!important;
  
}