.container-merch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.row-merch{
    display: flex;
    align-items: center;
    justify-content: center;
}


