.container-merch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.row-merch{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-merch-img{
    width: auto;
    margin: 0 10px;
}
/* DETAILS MERCH PAGE */

.container-details-merch{
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.512);
}
.container-details-merch .row{
    width: 100%;
    border-top: 1px solid rgb(244, 236, 186);
    
}
.container-details-merch .col-image{
    display: flex;
    justify-content: end;
}
.container-details-merch .col-details{
    display: flex;
    justify-content: start;
    font-family: "Montserrat",sans-serif;
}
.container-details-merch img{
    width: 87%;
    height: 83%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 5px;
}
@media (max-width: 450px) {
    .container-details-merch img{
    width: 100%;
    height: 100%;
    }
    .container-details-merch .title{
        margin-top: 30px;
        font-size: 24px!important;
    }
    
}
.container-details-merch h2{
    font-size: 5rem;
    margin-top: 80px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
    color: rgba(216, 112, 147, 0.653);
    font-family:fangsong;
}
.container-details-merch .title{
    font-size: 26px;
    font-weight: 400;
}
.container-descr-details{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 80vh;
    height: 80vh;
    width: 100%;
}
.container-descr-details::-webkit-scrollbar{
    display: none;
}
.author-description{
    font-size: 15px!important;
    font-weight: 100;
    margin-top: 15px;
    color: rgba(116, 116, 116, 0.714);
}

